<div class="container mt-5 content">
    <h1>About Me</h1>
    <div class="row">
        <div class="col-md-6 text-container">
            <p>
                Hi there! I'm Mohit Kumar, a passionate web developer based in Barrie. I have a strong foundation in web technologies including HTML, CSS, and JavaScript.
            </p>
            <p>
                My journey in web development began seeing my brother excel in this field, which helped me get interested in this area. Since then, I've been dedicated to creating beautiful and functional websites and web applications that bring ideas to life.
            </p>
            <p>
                I love staying up to date with the latest web development trends and technologies. When I'm not coding, you can find me watching movies.
            </p>
        </div>
        <div class="col-md-6 img-container">
            <img src="images/a.jpg" alt="Your Photo" class="img-fluid rounded-circle">
        </div>
    </div>
</div>
