<div class="container mt-5 content">
    <div class="row">
        <div class="col-md-6 text-container">
            <h1>Portfolio</h1>
            <p>
                Welcome to my portfolio. I'm a web developer with a passion for creating web applications. With a strong foundation in HTML, CSS, and JavaScript, I bring websites to life and make them functional. I also love to work on various projects and collaborate with others in the development community.
            </p>
        </div>
        <div class="col-md-6 img-container">
            <div class="image-wrapper">
                <img src="images/b.jpg" alt="Your Photo" class="img-fluid">
            </div>
        </div>
    </div>
</div>
