<div class="container mt-5 content">
    <h1>Projects</h1>
    <div class="row">
        <div class="col-md-6 project-card">
            <img src="images/jv.jpeg" alt="Project 1" class="img-fluid project-image">
            <h3>Android Application</h3>
            <p>Android application that manages the vehicles for their lot.</p>
            <a href="https://github.com/Severus2002/comp1011Assignment3_200506389" target="_blank">Link to my GitHub repository</a>
        </div>
        <div class="col-md-6 project-card">
            <img src="images/net.png" alt="Project 2" class="img-fluid project-image">
            <h3>Web Application</h3>
            <p>Application to find exercises for different muscle groups of your body.</p>
            <a href="https://github.com/Severus2002/LightWeight" target="_blank">Link to my GitHub repository</a>
        </div>
    </div>
</div>
